laiqa-growth-agent/n8n-workflows/01-ingestion.json
{
  "name": "01 - Meta Ingestion",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      },
      "name": "Daily 07:00 IST",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [-1232, -224],
      "id": "3dd04dbb-e8d3-4cea-b8b9-adbe3835d9eb",
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/={{$env.META_API_VERSION}}/={{$env.META_AD_ACCOUNT_ID}}/insights",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "access_token", "value": "={{$env.META_ACCESS_TOKEN}}" },
            { "name": "fields", "value": "campaign_id,campaign_name,impressions,reach,clicks,spend,actions,frequency,ctr,cpc,cpp,account_currency" },
            { "name": "level", "value": "campaign" },
            { "name": "time_range", "value": "={\"since\":\"{{$today.minus({days:1}).toFormat('yyyy-MM-dd')}}\",\"until\":\"{{$today.minus({days:1}).toFormat('yyyy-MM-dd')}}\"}" },
            { "name": "time_increment", "value": "1" },
            { "name": "limit", "value": "500" }
          ]
        },
        "options": {
          "retry": { "enabled": true, "maxTries": 3, "waitBetweenTries": 5000 }
        }
      },
      "name": "Fetch Campaign Insights",
      "type": "n8n-nodes-base.httpRequest",
      "position": [-1008, -320],
      "id": "e3534d03-4c75-45ff-a114-057bb8829205",
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/={{$env.META_API_VERSION}}/={{$env.META_AD_ACCOUNT_ID}}/insights",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "access_token", "value": "={{$env.META_ACCESS_TOKEN}}" },
            { "name": "fields", "value": "adset_id,adset_name,campaign_id,impressions,reach,clicks,spend,actions,frequency,ctr,cpc,cpp,account_currency" },
            { "name": "level", "value": "adset" },
            { "name": "time_range", "value": "={\"since\":\"{{$today.minus({days:1}).toFormat('yyyy-MM-dd')}}\",\"until\":\"{{$today.minus({days:1}).toFormat('yyyy-MM-dd')}}\"}" },
            { "name": "time_increment", "value": "1" },
            { "name": "limit", "value": "500" }
          ]
        },
        "options": {
          "retry": { "enabled": true, "maxTries": 3, "waitBetweenTries": 5000 }
        }
      },
      "name": "Fetch AdSet Insights",
      "type": "n8n-nodes-base.httpRequest",
      "position": [-1008, -128],
      "id": "fa2777c9-57d6-43d4-a021-cfffc4cbfe46",
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/={{$env.META_API_VERSION}}/={{$env.META_AD_ACCOUNT_ID}}/insights",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "access_token", "value": "={{$env.META_ACCESS_TOKEN}}" },
            { "name": "fields", "value": "ad_id,ad_name,adset_id,campaign_id,impressions,reach,clicks,spend,actions,frequency,ctr,cpc,cpp,account_currency" },
            { "name": "level", "value": "ad" },
            { "name": "time_range", "value": "={\"since\":\"{{$today.minus({days:1}).toFormat('yyyy-MM-dd')}}\",\"until\":\"{{$today.minus({days:1}).toFormat('yyyy-MM-dd')}}\"}" },
            { "name": "time_increment", "value": "1" },
            { "name": "limit", "value": "500" }
          ]
        },
        "options": {
          "retry": { "enabled": true, "maxTries": 3, "waitBetweenTries": 5000 }
        }
      },
      "name": "Fetch Ad Insights",
      "type": "n8n-nodes-base.httpRequest",
      "position": [-1008, 80],
      "id": "b7f05512-7a84-4c14-83a3-e0949e462917",
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "name": "Merge All Insights",
      "type": "n8n-nodes-base.merge",
      "position": [-768, -128],
      "id": "917a928f-ca85-48ce-8ca6-a33d027b9ebd",
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "jsCode": "// Normalise and validate Meta Insights API response\n// Extracts rows from all 3 levels and maps to schema\n\nconst items = $input.all();\nconst rows = [];\nconst date = $today.minus({ days: 1 }).toFormat('yyyy-MM-dd');\n\nfor (const item of items) {\n  const data = item.json.data || [];\n\n  for (const row of data) {\n    // Determine entity level and ID\n    let entity_level, entity_id, parent_id;\n    if (row.ad_id) {\n      entity_level = 'ad';\n      entity_id = row.ad_id;\n      parent_id = row.adset_id || null;\n    } else if (row.adset_id) {\n      entity_level = 'adset';\n      entity_id = row.adset_id;\n      parent_id = row.campaign_id || null;\n    } else if (row.campaign_id) {\n      entity_level = 'campaign';\n      entity_id = row.campaign_id;\n      parent_id = null;\n    } else {\n      continue; // skip unidentifiable rows\n    }\n\n    // Extract conversions from actions array\n    const purchaseTypes = [\n      'purchase',\n      'offsite_conversion.fb_pixel_purchase',\n      'omni_purchase'\n    ];\n    const conversions = (row.actions || [])\n      .filter(a => purchaseTypes.includes(a.action_type))\n      .reduce((sum, a) => sum + parseInt(a.value || 0, 10), 0);\n\n    const impressions = parseInt(row.impressions || 0, 10);\n    const reach = parseInt(row.reach || 0, 10);\n    const clicks = parseInt(row.clicks || 0, 10);\n    const spend = parseFloat(row.spend || 0);\n\n    // Validate: skip rows with zero impressions (delivery not started)\n    if (impressions === 0 && spend === 0) continue;\n\n    rows.push({\n      date,\n      entity_level,\n      entity_id,\n      parent_id,\n      impressions,\n      reach,\n      clicks,\n      spend,\n      conversions,\n      breakdown_key: 'none',\n      raw_json: JSON.stringify(row)\n    });\n  }\n}\n\nif (rows.length === 0) {\n  throw new Error('VALIDATION_FAILED: No valid rows extracted from Meta API response. Check fields and date range.');\n}\n\nreturn rows.map(r => ({ json: r }));"
      },
      "name": "Normalise + Validate",
      "type": "n8n-nodes-base.code",
      "position": [-560, -128],
      "id": "50874b29-ac02-4153-9676-4e8e6b0129c4",
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO meta_insights_daily (date, entity_level, entity_id, breakdown_key, impressions, reach, clicks, spend, conversions, raw_json)\nVALUES ($1, $2, $3, $4, $5, $6, $7, $8, $9, $10::jsonb)\nON CONFLICT (date, entity_level, entity_id, breakdown_key) DO UPDATE SET\n  impressions = EXCLUDED.impressions,\n  reach = EXCLUDED.reach,\n  clicks = EXCLUDED.clicks,\n  spend = EXCLUDED.spend,\n  conversions = EXCLUDED.conversions,\n  raw_json = EXCLUDED.raw_json,\n  ingested_at = NOW();",
        "additionalFields": {
          "queryParams": "={{[$json.date, $json.entity_level, $json.entity_id, $json.breakdown_key, $json.impressions, $json.reach, $json.clicks, $json.spend, $json.conversions, $json.raw_json]}}"
        },
        "options": {}
      },
      "name": "Upsert to Postgres",
      "type": "n8n-nodes-base.postgres",
      "position": [-352, -128],
      "id": "aac41980-cbf8-4e6f-988a-feb43abe8dbe",
      "typeVersion": 2.6
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://n8n:5678/webhook/embedding-refresh",
        "options": {}
      },
      "name": "Trigger Embedding Refresh",
      "type": "n8n-nodes-base.httpRequest",
      "position": [-144, -128],
      "id": "chain-wf01-wf02",
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SLACK_WEBHOOK_URL}}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "text", "value": "=❌ WF01 Ingestion failed: {{$json.message || 'Unknown error'}}. Check n8n execution logs." }
          ]
        },
        "options": {}
      },
      "name": "Alert on Failure",
      "type": "n8n-nodes-base.httpRequest",
      "position": [-352, 96],
      "id": "47ab8749-6ee2-4275-92ee-bfcd02458098",
      "typeVersion": 4.4
    }
  ],
  "connections": {
    "Daily 07:00 IST": {
      "main": [[
        { "node": "Fetch Campaign Insights", "type": "main", "index": 0 },
        { "node": "Fetch AdSet Insights", "type": "main", "index": 0 },
        { "node": "Fetch Ad Insights", "type": "main", "index": 0 }
      ]]
    },
    "Fetch Campaign Insights": {
      "main": [[{ "node": "Merge All Insights", "type": "main", "index": 0 }]]
    },
    "Fetch AdSet Insights": {
      "main": [[{ "node": "Merge All Insights", "type": "main", "index": 1 }]]
    },
    "Fetch Ad Insights": {
      "main": [[{ "node": "Merge All Insights", "type": "main", "index": 2 }]]
    },
    "Merge All Insights": {
      "main": [[{ "node": "Normalise + Validate", "type": "main", "index": 0 }]]
    },
    "Normalise + Validate": {
      "main": [[{ "node": "Upsert to Postgres", "type": "main", "index": 0 }]],
      "error": [[{ "node": "Alert on Failure", "type": "main", "index": 0 }]]
    },
    "Upsert to Postgres": {
      "main": [[{ "node": "Trigger Embedding Refresh", "type": "main", "index": 0 }]],
      "error": [[{ "node": "Alert on Failure", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b395e642078f5ed10edbf1c29001e3a2243f8ee6445e6cb97bb7046023115b31"
  }
}
