laiqa-growth-agent/n8n-workflows/01-ingestion.json
{
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SLACK_WEBHOOK_URL}}",
        "options": {}
      },
      "name": "Alert on Failure",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -528,
        96
      ],
      "id": "47ab8749-6ee2-4275-92ee-bfcd02458098",
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v19.0/act_479122674854781/insights",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "EAAUVGjTuEsEBRPpAeSXeL89YiB25l5FVTM3B24HfeiqHm47XATtdS4i6HFTQ4O3YfXPZAQBX8JGcpk0nnRtDY3ZByokDTeP0xnPeBTs9ZBKGpJZAVHmybhkMOnkQnL8P1AodZAiZBa7CaOzbodnOtTOeXqBZBfyfYxiMkvd6mpgCYiupW5GipuIeLFzt5HkSHpxhZBoeQXjm"
            }
          ]
        },
        "options": {}
      },
      "name": "Fetch Campaign Insights",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1008,
        -320
      ],
      "id": "e3534d03-4c75-45ff-a114-057bb8829205",
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v19.0/act_479122674854781/insights",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "EAAUVGjTuEsEBRPpAeSXeL89YiB25l5FVTM3B24HfeiqHm47XATtdS4i6HFTQ4O3YfXPZAQBX8JGcpk0nnRtDY3ZByokDTeP0xnPeBTs9ZBKGpJZAVHmybhkMOnkQnL8P1AodZAiZBa7CaOzbodnOtTOeXqBZBfyfYxiMkvd6mpgCYiupW5GipuIeLFzt5HkSHpxhZBoeQXjm"
            }
          ]
        },
        "options": {}
      },
      "name": "Fetch AdSet Insights",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1008,
        -128
      ],
      "id": "fa2777c9-57d6-43d4-a021-cfffc4cbfe46",
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v19.0/act_479122674854781/insights",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "EAAUVGjTuEsEBRPpAeSXeL89YiB25l5FVTM3B24HfeiqHm47XATtdS4i6HFTQ4O3YfXPZAQBX8JGcpk0nnRtDY3ZByokDTeP0xnPeBTs9ZBKGpJZAVHmybhkMOnkQnL8P1AodZAiZBa7CaOzbodnOtTOeXqBZBfyfYxiMkvd6mpgCYiupW5GipuIeLFzt5HkSHpxhZBoeQXjm"
            }
          ]
        },
        "options": {}
      },
      "name": "Fetch Ad Insights",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1008,
        80
      ],
      "id": "b7f05512-7a84-4c14-83a3-e0949e462917",
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "name": "Merge Insights",
      "type": "n8n-nodes-base.merge",
      "position": [
        -816,
        -128
      ],
      "id": "917a928f-ca85-48ce-8ca6-a33d027b9ebd",
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "name": "Normalise + Validate",
      "type": "n8n-nodes-base.code",
      "position": [
        -608,
        -128
      ],
      "id": "50874b29-ac02-4153-9676-4e8e6b0129c4",
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO meta_insights_daily (date, entity_level, entity_id, impressions, reach, clicks, spend, conversions, raw_json)\nVALUES ($1, $2, $3, $4, $5, $6, $7, $8, $9::jsonb)\nON CONFLICT (date, entity_level, entity_id, breakdown_key) DO UPDATE SET\n  impressions = EXCLUDED.impressions, reach = EXCLUDED.reach, clicks = EXCLUDED.clicks,\n  spend = EXCLUDED.spend, conversions = EXCLUDED.conversions, raw_json = EXCLUDED.raw_json, ingested_at = NOW();",
        "options": {}
      },
      "name": "Upsert to Postgres",
      "type": "n8n-nodes-base.postgres",
      "position": [
        -400,
        -128
      ],
      "id": "aac41980-cbf8-4e6f-988a-feb43abe8dbe",
      "typeVersion": 2.6
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      },
      "name": "Daily 07:00 IST",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -1232,
        -224
      ],
      "id": "3dd04dbb-e8d3-4cea-b8b9-adbe3835d9eb",
      "typeVersion": 1.3
    }
  ],
  "connections": {
    "Fetch Campaign Insights": {
      "main": [
        [
          {
            "node": "Merge Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch AdSet Insights": {
      "main": [
        [
          {
            "node": "Merge Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Ad Insights": {
      "main": [
        [
          {
            "node": "Merge Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Insights": {
      "main": [
        [
          {
            "node": "Normalise + Validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalise + Validate": {
      "main": [
        [
          {
            "node": "Upsert to Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily 07:00 IST": {
      "main": [
        [
          {
            "node": "Fetch Ad Insights",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch AdSet Insights",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Campaign Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b395e642078f5ed10edbf1c29001e3a2243f8ee6445e6cb97bb7046023115b31"
  }
}