laiqa-growth-agent/n8n-workflows/03-daily-audit.json
{
  "name": "03 - Daily Audit (Multi-Agent)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "daily-audit",
        "responseMode": "onReceived",
        "options": {}
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "webhookId": "daily-audit",
      "position": [240, 400],
      "id": "wf03-trigger",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT entity_level, entity_id, date, spend, impressions, reach, clicks, conversions, frequency, ctr, cpa FROM meta_insights_daily WHERE date >= NOW() - INTERVAL '7 days' ORDER BY date DESC, spend DESC LIMIT 100;",
        "options": {}
      },
      "name": "Fetch 7-Day KPI Snapshot",
      "type": "n8n-nodes-base.postgres",
      "position": [460, 280],
      "id": "wf03-kpi",
      "typeVersion": 2.6
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().map(i => i.json);\nconst freqThreshold = 3.0;\nconst targetCpa = 500;\n\nconst topSpend = [...items].sort((a,b) => b.spend - a.spend).slice(0,5);\nconst topEfficiency = items.filter(a => a.conversions > 0 && a.cpa).sort((a,b) => a.cpa - b.cpa).slice(0,5);\nconst avgCtr = items.reduce((s,i) => s + (i.ctr||0), 0) / (items.length||1);\nconst fatigue = items.filter(a => a.frequency > freqThreshold && (a.ctr||0) < avgCtr);\nconst underperformers = items.filter(a => a.spend > 0 && a.cpa && a.cpa > targetCpa);\n\nconst adsets = items.filter(i => i.entity_level === 'adset');\nconst totalSpend = adsets.reduce((s,i) => s + parseFloat(i.spend||0), 0);\nconst totalConversions = adsets.reduce((s,i) => s + parseInt(i.conversions||0), 0);\nconst avgCpa = totalConversions > 0 ? totalSpend / totalConversions : null;\n\nconst fatigueIds = fatigue.map(a => a.entity_id).slice(0,5).join(', ');\nconst ragQuery = fatigueIds ? `performance data for adsets ${fatigueIds} frequency CTR trend declining` : 'ad sets with declining CTR and rising frequency last 7 days';\n\nreturn [{ json: { summary: { totalSpend, totalConversions, avgCpa, targetCpa }, top_spend: topSpend, top_efficiency: topEfficiency, fatigue_candidates: fatigue, underperformers, rag_query: ragQuery } }];"
      },
      "name": "Aggregate KPIs",
      "type": "n8n-nodes-base.code",
      "position": [680, 280],
      "id": "wf03-aggregate",
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://vector-bridge:8002/query",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "X-API-Key", "value": "YOUR_INTERNAL_API_KEY_HERE" }]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "query", "value": "={{$json.rag_query}}" },
            { "name": "top_k", "value": 8 },
            { "name": "where", "value": "={\"doc_type\":{\"$in\":[\"PERFORMANCE_CARD\",\"BUSINESS_STRATEGY\"]}}" }
          ]
        },
        "options": {}
      },
      "name": "Retrieve Fatigue Context",
      "type": "n8n-nodes-base.httpRequest",
      "position": [680, 480],
      "id": "wf03-rag",
      "typeVersion": 4.4
    },
    {
      "parameters": { "mode": "combine", "combineBy": "combineAll", "options": {} },
      "name": "Merge KPI + RAG",
      "type": "n8n-nodes-base.merge",
      "position": [900, 380],
      "id": "wf03-merge",
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key=YOUR_GEMINI_API_KEY_HERE",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"contents\":[{\"role\":\"user\",\"parts\":[{\"text\":\"You are the Strategy Agent for Laiqa, a women's hormonal health brand.\\nAnalyse the KPI snapshot and retrieved context. Cite specific entity IDs. Focus on TOFU/MOFU/BOFU funnel diagnosis. Never assert personal attributes.\\n\\nKPI SNAPSHOT:\\n\" + JSON.stringify($node['Aggregate KPIs'].item.json) + \"\\n\\nRAG CONTEXT:\\n\" + JSON.stringify($node['Retrieve Fatigue Context'].item.json.results || [])}]}],\"generationConfig\":{\"responseMimeType\":\"application/json\"}}",
        "options": { "retry": { "enabled": true, "maxTries": 3, "waitBetweenTries": 5000 } }
      },
      "name": "Strategy Agent",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1120, 280],
      "id": "wf03-strategy",
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key=YOUR_GEMINI_API_KEY_HERE",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"contents\":[{\"role\":\"user\",\"parts\":[{\"text\":\"You are the Optimisation Agent for Laiqa Meta Ads.\\nHARD CONSTRAINTS: Budget changes max 20%. Scale requires 10 conversions min. TARGET_CPA=500 TARGET_ROAS=2.5. Fatigue: frequency > 3.0 AND CTR declining.\\n\\nKPI SNAPSHOT:\\n\" + JSON.stringify($node['Aggregate KPIs'].item.json) + \"\\n\\nReturn ONLY valid JSON with actions array. Each action must have: entity_level, entity_id, entity_name, action_type (pause/scale_budget/refresh_creative/reallocate), rationale, risk (low/medium/high), conversions_7d, spend_7d.\"}]}],\"generationConfig\":{\"responseMimeType\":\"application/json\"}}",
        "options": { "retry": { "enabled": true, "maxTries": 3, "waitBetweenTries": 5000 } }
      },
      "name": "Optimisation Agent",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1120, 480],
      "id": "wf03-optimisation",
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "jsCode": "const parse = (val) => { if (typeof val === 'string') { try { return JSON.parse(val); } catch(e) { return { error: 'parse_failed', raw: val }; } } return val; };\nconst strategyText = $('Strategy Agent').item.json?.candidates?.[0]?.content?.parts?.[0]?.text;\nconst optimisationText = $('Optimisation Agent').item.json?.candidates?.[0]?.content?.parts?.[0]?.text;\nreturn [{ json: { strategyData: parse(strategyText), optimisationData: parse(optimisationText) } }];"
      },
      "name": "Parse Agent Outputs",
      "type": "n8n-nodes-base.code",
      "position": [1340, 380],
      "id": "wf03-parse",
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key=YOUR_GEMINI_API_KEY_HERE",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"contents\":[{\"role\":\"user\",\"parts\":[{\"text\":\"You are the Copywriting Agent for Laiqa. Generate 3 compliant Meta ad copy variants.\\nBRAND VOICE: Warm, empowering, Ayurveda + modern science. Never medical advice.\\nFORBIDDEN: No PCOS questions, no fear framing, no implied diagnosis, no body shame.\\nFocus on: 'Support your hormonal balance', 'Discover your Prakriti', 'Wellness for every phase'.\\n\\nSTRATEGIC HYPOTHESES:\\n\" + JSON.stringify($json.strategyData?.hypotheses || []) + \"\\n\\nReturn ONLY valid JSON with variants array. Each variant: hook, body, cta, funnel_stage.\"}]}],\"generationConfig\":{\"responseMimeType\":\"application/json\"}}",
        "options": { "retry": { "enabled": true, "maxTries": 3, "waitBetweenTries": 5000 } }
      },
      "name": "Copywriting Agent",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1560, 280],
      "id": "wf03-copy",
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key=YOUR_GEMINI_API_KEY_HERE",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"contents\":[{\"role\":\"user\",\"parts\":[{\"text\":\"You are the Compliance Agent for Laiqa on Meta.\\nHARD-FAIL: personal attribute assertions, fear-based framing, unsubstantiated medical claims, second-person diagnosis.\\nPASS: benefit-led language, wellness framing, inclusive tone.\\nFor each FAIL provide a suggested rewrite.\\n\\nPROPOSED COPY:\\n\" + JSON.stringify($('Copywriting Agent').item.json?.candidates?.[0]?.content?.parts?.[0]?.text || '') + \"\\n\\nReturn ONLY valid JSON: { overall_status: PASS|FAIL|NEEDS_REVISION, verdicts: [{status, violations, suggested_rewrite}] }\"}]}],\"generationConfig\":{\"responseMimeType\":\"application/json\"}}",
        "options": { "retry": { "enabled": true, "maxTries": 3, "waitBetweenTries": 5000 } }
      },
      "name": "Compliance Agent",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1780, 280],
      "id": "wf03-compliance",
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "jsCode": "const parse = (val) => { if (typeof val === 'string') { try { return JSON.parse(val); } catch(e) { return { error: 'parse_failed', raw: val }; } } return val; };\nconst strategyData = $json.strategyData;\nconst optimisationData = $json.optimisationData;\nconst copyData = parse($('Copywriting Agent').item.json?.candidates?.[0]?.content?.parts?.[0]?.text);\nconst complianceData = parse($('Compliance Agent').item.json?.candidates?.[0]?.content?.parts?.[0]?.text);\nconst date = new Date().toISOString().split('T')[0];\nconst report = { date, account_id: 'YOUR_AD_ACCOUNT_ID', strategy: strategyData, optimisation: optimisationData, copy_variants: copyData, compliance: complianceData, generated_at: new Date().toISOString() };\nconst slackText = [`*📊 Laiqa Daily Growth Report — ${date}*`, `*Strategy:* ${strategyData?.summary||'N/A'}`, `*Top Issues:* ${(strategyData?.top_issues||[]).slice(0,3).join(', ')||'None'}`, `*Actions:* ${optimisationData?.actions?.length||0} queued`, `*Compliance:* ${complianceData?.overall_status||'N/A'}`, `*Confidence:* ${Math.round((strategyData?.confidence||0)*100)}%`].join('\\n');\nconst token_estimate = Math.round(JSON.stringify(report).length / 4);\nreturn [{ json: { report, slackText, actions: optimisationData?.actions||[], compliance_verdict: complianceData?.overall_status||'FAIL', token_estimate } }];"
      },
      "name": "Assemble Report Bundle",
      "type": "n8n-nodes-base.code",
      "position": [2000, 380],
      "id": "wf03-assemble",
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/YOUR_WEBHOOK_URL_HERE",
        "sendBody": true,
        "bodyParameters": { "parameters": [{ "name": "text", "value": "={{$json.slackText}}" }] },
        "options": {}
      },
      "name": "Send to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "position": [2220, 280],
      "id": "wf03-slack",
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{`INSERT INTO agent_runs (run_id, agent_name, task_type, outputs_json, schema_valid, status, token_estimate, completed_at) VALUES (gen_random_uuid()::text, 'DAILY_AUDIT_BUNDLE', 'DAILY_AUDIT', '${JSON.stringify($json.report).replace(/'/g,\"''\")}'::jsonb, true, 'COMPLETED', ${$json.token_estimate}, NOW())`}}",
        "options": {}
      },
      "name": "Log Agent Run",
      "type": "n8n-nodes-base.postgres",
      "position": [2220, 480],
      "id": "wf03-log",
      "typeVersion": 2.6
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://n8n:5678/webhook/action-proposal",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "actions", "value": "={{$json.actions}}" },
            { "name": "compliance_verdict", "value": "={{$json.compliance_verdict}}" },
            { "name": "summary", "value": "={{$json.report.strategy.summary}}" }
          ]
        },
        "options": {}
      },
      "name": "Trigger Action Proposal",
      "type": "n8n-nodes-base.httpRequest",
      "position": [2220, 680],
      "id": "wf03-chain",
      "typeVersion": 4.4
    }
  ],
  "connections": {
    "Webhook Trigger": { "main": [[{ "node": "Fetch 7-Day KPI Snapshot", "type": "main", "index": 0 }]] },
    "Fetch 7-Day KPI Snapshot": { "main": [[{ "node": "Aggregate KPIs", "type": "main", "index": 0 }]] },
    "Aggregate KPIs": { "main": [[{ "node": "Merge KPI + RAG", "type": "main", "index": 0 }, { "node": "Retrieve Fatigue Context", "type": "main", "index": 0 }, { "node": "Optimisation Agent", "type": "main", "index": 0 }]] },
    "Retrieve Fatigue Context": { "main": [[{ "node": "Merge KPI + RAG", "type": "main", "index": 1 }]] },
    "Merge KPI + RAG": { "main": [[{ "node": "Strategy Agent", "type": "main", "index": 0 }]] },
    "Strategy Agent": { "main": [[{ "node": "Parse Agent Outputs", "type": "main", "index": 0 }]] },
    "Optimisation Agent": { "main": [[{ "node": "Parse Agent Outputs", "type": "main", "index": 0 }]] },
    "Parse Agent Outputs": { "main": [[{ "node": "Copywriting Agent", "type": "main", "index": 0 }]] },
    "Copywriting Agent": { "main": [[{ "node": "Compliance Agent", "type": "main", "index": 0 }]] },
    "Compliance Agent": { "main": [[{ "node": "Assemble Report Bundle", "type": "main", "index": 0 }]] },
    "Assemble Report Bundle": { "main": [[{ "node": "Send to Slack", "type": "main", "index": 0 }, { "node": "Log Agent Run", "type": "main", "index": 0 }, { "node": "Trigger Action Proposal", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "meta": { "instanceId": "b395e642078f5ed10edbf1c29001e3a2243f8ee6445e6cb97bb7046023115b31" }
}
