laiqa-growth-agent/n8n-workflows/05-action-execution.json
{
  "name": "05 - Action Execution (Meta Writes + Rollback)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "action-approved",
        "responseMode": "onReceived",
        "options": {}
      },
      "name": "Approval Webhook",
      "type": "n8n-nodes-base.webhook",
      "webhookId": "action-approved",
      "position": [240, 400],
      "id": "wf05-trigger",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "jsCode": "// Kill switch — set to true to disable all Meta writes\nconst KILL_SWITCH = false;\nif (KILL_SWITCH) throw new Error('KILL_SWITCH_ACTIVE: Meta writes are globally disabled.');\n\nlet payload;\ntry {\n  payload = typeof $json.body?.payload === 'string' ? JSON.parse($json.body.payload) : ($json.body?.payload || $json);\n} catch(e) { throw new Error('Failed to parse Slack payload: ' + e.message); }\n\nconst actionValue = payload?.actions?.[0]?.value || '';\nconst [plan_id, decision] = actionValue.split('|');\nconst user = payload?.user?.name || payload?.user?.username || 'unknown';\nif (!plan_id || !decision) throw new Error('Invalid payload: missing plan_id or decision.');\nreturn [{ json: { plan_id, decision, user } }];"
      },
      "name": "Parse Slack Payload",
      "type": "n8n-nodes-base.code",
      "position": [460, 400],
      "id": "wf05-parse",
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "string": [{ "value1": "={{$json.decision}}", "operation": "equals", "value2": "APPROVED" }]
        }
      },
      "name": "Check Approved",
      "type": "n8n-nodes-base.if",
      "position": [700, 400],
      "id": "wf05-check",
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{`SELECT ap.*, COALESCE((SELECT json_agg(json_build_object('entity_id', mid.entity_id, 'conversions_7d', SUM(mid.conversions), 'spend_7d', SUM(mid.spend))) FROM meta_insights_daily mid WHERE mid.date >= NOW() - INTERVAL '7 days' GROUP BY mid.entity_id), '[]'::json) AS recent_performance FROM action_plans ap WHERE ap.plan_id = '${$json.plan_id}' AND ap.status = 'PENDING_APPROVAL'`}}",
        "options": {}
      },
      "name": "Load Plan + Performance",
      "type": "n8n-nodes-base.postgres",
      "position": [940, 280],
      "id": "wf05-load",
      "typeVersion": 2.6
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{`INSERT INTO approvals (plan_id, approver, decision) VALUES ('${$('Parse Slack Payload').item.json.plan_id}', '${$('Parse Slack Payload').item.json.user}', '${$('Parse Slack Payload').item.json.decision}')`}}",
        "options": {}
      },
      "name": "Record Approval",
      "type": "n8n-nodes-base.postgres",
      "position": [1160, 280],
      "id": "wf05-record",
      "typeVersion": 2.6
    },
    {
      "parameters": {
        "jsCode": "const plan = $('Load Plan + Performance').item.json;\nconst actions = plan.actions || [];\nconst recentPerf = plan.recent_performance || [];\nconst maxBudgetChangePct = 20;\nconst minConversions = 10;\n\nconst perfMap = {};\nfor (const p of recentPerf) { perfMap[p.entity_id] = { conversions_7d: p.conversions_7d||0, spend_7d: p.spend_7d||0 }; }\n\nconst safeActions = [], blockedActions = [];\nfor (const action of actions) {\n  const perf = perfMap[action.entity_id] || { conversions_7d: 0, spend_7d: 0 };\n  if (action.action_type === 'scale_budget') {\n    if (perf.conversions_7d < minConversions) { blockedActions.push({ ...action, block_reason: `Insufficient conversions: ${perf.conversions_7d} < ${minConversions}` }); continue; }\n    const changePct = Math.abs(action.delta?.budget_change_pct || 0);\n    if (changePct > maxBudgetChangePct) { blockedActions.push({ ...action, block_reason: `Budget change ${changePct}% exceeds cap ${maxBudgetChangePct}%` }); continue; }\n  }\n  safeActions.push({ ...action, plan_id: plan.plan_id, perf });\n}\nif (safeActions.length === 0) throw new Error(`All ${actions.length} actions blocked. ${JSON.stringify(blockedActions)}`);\nreturn safeActions.map(a => ({ json: a }));"
      },
      "name": "Enforce Hard Rules",
      "type": "n8n-nodes-base.code",
      "position": [1380, 280],
      "id": "wf05-rules",
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/{{$json.entity_id}}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "access_token", "value": "YOUR_META_ACCESS_TOKEN_HERE" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json.action_type === 'pause' ? '{\"status\":\"PAUSED\"}' : $json.action_type === 'scale_budget' ? JSON.stringify({daily_budget: $json.delta?.new_daily_budget}) : '{}'}}",
        "options": { "retry": { "enabled": true, "maxTries": 2, "waitBetweenTries": 3000 } }
      },
      "name": "Execute Meta API Call",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1600, 280],
      "id": "wf05-meta",
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{`INSERT INTO actions_executed (plan_id, entity_level, entity_id, action_type, meta_api_call, meta_api_response, status, executed_at) VALUES ('${$json.plan_id}', '${$json.entity_level}', '${$json.entity_id}', '${$json.action_type}', '${JSON.stringify($json).replace(/'/g,\"''\")}'::jsonb, '${JSON.stringify($('Execute Meta API Call').item.json).replace(/'/g,\"''\")}'::jsonb, 'EXECUTED', NOW())`}}",
        "options": {}
      },
      "name": "Log Execution",
      "type": "n8n-nodes-base.postgres",
      "position": [1820, 280],
      "id": "wf05-log",
      "typeVersion": 2.6
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{`UPDATE action_plans SET status = 'EXECUTED' WHERE plan_id = '${$json.plan_id}'`}}",
        "options": {}
      },
      "name": "Mark Plan Executed",
      "type": "n8n-nodes-base.postgres",
      "position": [2040, 280],
      "id": "wf05-markexec",
      "typeVersion": 2.6
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/YOUR_WEBHOOK_URL_HERE",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [{
            "name": "text",
            "value": "=✅ *Action Executed*\\n• Type: `{{$json.action_type}}`\\n• Entity: `{{$json.entity_name || $json.entity_id}}` ({{$json.entity_level}})\\n• Plan: `{{$json.plan_id}}`\\n• Approved by: {{$('Parse Slack Payload').item.json.user}}\\n\\n_To rollback: re-enable entity in Meta Ads Manager or POST status=ACTIVE to the API._"
          }]
        },
        "options": {}
      },
      "name": "Confirm + Rollback Instructions",
      "type": "n8n-nodes-base.httpRequest",
      "position": [2040, 480],
      "id": "wf05-confirm",
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{`UPDATE action_plans SET status = 'REJECTED' WHERE plan_id = '${$json.plan_id}'`}}",
        "options": {}
      },
      "name": "Mark Rejected",
      "type": "n8n-nodes-base.postgres",
      "position": [940, 520],
      "id": "wf05-reject",
      "typeVersion": 2.6
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/YOUR_WEBHOOK_URL_HERE",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [{
            "name": "text",
            "value": "=❌ Plan `{{$('Parse Slack Payload').item.json.plan_id}}` rejected by {{$('Parse Slack Payload').item.json.user}}. No changes made to Meta."
          }]
        },
        "options": {}
      },
      "name": "Notify Rejection",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1160, 520],
      "id": "wf05-notifyreject",
      "typeVersion": 4.4
    }
  ],
  "connections": {
    "Approval Webhook": { "main": [[{ "node": "Parse Slack Payload", "type": "main", "index": 0 }]] },
    "Parse Slack Payload": { "main": [[{ "node": "Check Approved", "type": "main", "index": 0 }]] },
    "Check Approved": { "main": [[{ "node": "Load Plan + Performance", "type": "main", "index": 0 }], [{ "node": "Mark Rejected", "type": "main", "index": 0 }]] },
    "Load Plan + Performance": { "main": [[{ "node": "Record Approval", "type": "main", "index": 0 }]] },
    "Record Approval": { "main": [[{ "node": "Enforce Hard Rules", "type": "main", "index": 0 }]] },
    "Enforce Hard Rules": { "main": [[{ "node": "Execute Meta API Call", "type": "main", "index": 0 }]] },
    "Execute Meta API Call": { "main": [[{ "node": "Log Execution", "type": "main", "index": 0 }]] },
    "Log Execution": { "main": [[{ "node": "Mark Plan Executed", "type": "main", "index": 0 }, { "node": "Confirm + Rollback Instructions", "type": "main", "index": 0 }]] },
    "Mark Rejected": { "main": [[{ "node": "Notify Rejection", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "meta": { "instanceId": "b395e642078f5ed10edbf1c29001e3a2243f8ee6445e6cb97bb7046023115b31" }
}
